<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1086152264377-mpvd4ms8spifn1m2gvs0m7l8itcrm6mk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1086152264377-mpvd4ms8spifn1m2gvs0m7l8itcrm6mk</string>
	<key>API_KEY</key>
	<string>AIzaSyCuQ5DtwKdO02JK4r5HieC2AGB2GZTtu_0</string>
	<key>GCM_SENDER_ID</key>
	<string>1086152264377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BamThobeBander</string>
	<key>PROJECT_ID</key>
	<string>bamthobe-427dc</string>
	<key>STORAGE_BUCKET</key>
	<string>bamthobe-427dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1086152264377:ios:affdc09ea6b8a3a3cde968</string>
</dict>
</plist>